 body {
   background: #262626;
   font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
   font-size: 14px;
   color: #000;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 .container {
   height: 90vh;
   padding: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

   .title {
     text-align: center;
     margin: 0;
     padding: 0;
     font-size: 5em;
     color: #fff;
   }

   .swiper-container {
     width: 100%;
     padding-top: 20px;
     padding-bottom: 30px;

     .swiper-wrapper {
       .swiper-slide {
         background-position: center;
         background-size: cover;
         width: 300px;
         height: 380px;
         background: #fff;

         .imgBx {
           width: 100%;
           height: 300px;
           overflow: hidden;

           img {
             width: 100%;
             height: 100%;
             object-fit: cover;
           }
         }

         .details {
           box-sizing: border-box;
           padding: 20px;

           h3 {
             font-size: 20px;
             margin: 0;
             padding: 0;
             text-align: center;
             line-height: 20px;

             span {
               font-size: 16px;
               color: #f44336
             }
           }
         }
       }
     }

   }
 }